@import '~/nativescript-theme-core/css/core.dark.css';

@keyframes scale {
    0%   { transform: scale(1, 1); }
    50%  { transform: scale(1.5, 1.5); }
    100% { transform: scale(1, 1); }
}

TextField {
    margin: 10;
    padding: 10;
}
Label{
  margin: 10;
  padding: 10;
  font-size:70;

}
Image {
    margin-top: 30;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50;

    animation-name: scale;
    animation-duration: 16s;
    animation-iteration-count: infinite;
}
Button {
    margin: 10;
    padding: 10;
}
