/* CSS for Chat page.

This is for the part of the UI where messages appear.*/
.nsChatView-view .nsChatView-sendMessageArea {
    margin: 4,0,0,0;
    background-color: #e8e8e8;
}
/*This is the CSS for the send Button */
.nsChatView-view .nsChatView-sendMessageArea Button {
    background-color: transparent;
    margin: 0;
}

/*This is for the typing field */
.nsChatView-view .nsChatView-messageField {
    font-size: 14;
    height: 100px;
    width: 50px;
}
